header {
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}


body {
  background-color: rgb(25, 155, 231);
}

h1 {
  background-color: rgb(218, 231, 25);
}

.buttons {
  justify-content: center;
  text-align: center;
  padding: 5px 5px 5px 25px;
  color:#000;
  text-decoration:none;
  font-size: 2rem;
  border: none;
}

#joke-button {
  /* background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A); */
  background-color: #000;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.7rem
  width: 5vh;
  height: 5vh;
}

#pickup-button {
/* background: #c0392b;
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b); 
background: linear-gradient(to right, #8e44ad, #c0392b);  */
background-color: #000;
color: white;
border: none;
font-size: 1.5rem;
padding: 0.7rem
}

#joke-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}
#pickup-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}

#joke-container {
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 50vh;
  height: 15vh;
}

#saved-container {
  color: white;
  text-align: center;

}
#save-button {
  background-color: #000;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.2rem1
  border: 2px solid;
  border-radius: 25px;
}