header {
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}


body {
    background-image: url('/img/doge-satelite.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
  color: rgb(218, 231, 25);
  text-shadow: 2px 2px 5px rgb(245, 201, 4); 
}

.buttons {
  justify-content: center;
  text-align: center;
  padding: 5px 5px 5px 25px;
  color:#000;
  text-decoration:none;
  font-size: 1rem;
  border: none;
  padding: 10px;
  font-family: Tahoma, Verdana, sans-serif;
}

#joke-button {
  /* background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
  background: linear-gradient(to right, #93291E, #ED213A); */
  background-color: #000;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 1vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-family: Tahoma, Verdana, sans-serif;
}

#pickup-button {
/* background: #c0392b;
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b); 
background: linear-gradient(to right, #8e44ad, #c0392b);  */
background-color: #000;
color: white;
border: none;
font-size: 1.5rem;
padding: 10px;
border: 1px solid rgb(0, 0, 0);
border-radius: 25px;
font-family: Tahoma, Verdana, sans-serif;
}

#joke-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}
#pickup-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}

#joke-container {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  text-align: center;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 1px;
  width: 50vh;
  height: 20vh;
  border: 1px solid #fff;
  border-radius: 15px;
  background:#7f7f7f;
  background:rgba(96, 96, 96, 0.7);
  font-family: Tahoma, Verdana, sans-serif;
  
}

#saved-container {
  color: white;
  max-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;  
  overflow: auto;
  padding: 0vh 20vw;
  font-family: Tahoma, Verdana, sans-serif;
}

.inner {
    float: left;
    margin: 5px;
}


.child-saved {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  padding: 50px;
  width: 200px;
  height: 300px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background:#7f7f7f;
  background:rgba(96, 96, 96, 0.7)
}

.child-saved:hover {
  background:rgba(187, 87, 87, 0.7);
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.fa-trash-can {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  
}
.fa-trash-can:hover {
  color: red;
  cursor: pointer;
}

.fa-floppy-disk {
  font-size: 2rem;
  color: white;
}
.fa-floppy-disk:hover {
  color: red;
  cursor: pointer;
}

.fa-copy {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
}
.fa-copy:hover {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

#button-div {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}
