header {
  margin-left: auto;
  margin-right: auto;
}



body {
    background-image: url('../img/doge-satelite.jpeg');
    background-size: 100%;
    background-repeat: repeat;
}

h1 {
  color: yellow;
  text-shadow: 2px 2px 5px rgb(248, 248, 246); 
  display: flex;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  margin: 0;
  padding: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons {
  justify-content: center;
  text-align: center;
  padding: 5px 5px 5px 5px;
  color:rgb(3, 3, 3);
  text-decoration:none;
  font-size: 1rem;
  border: none;
  font-family: Tahoma, Verdana, sans-serif;
  max-width: 100%;
}

#joke-button {
  background-color: rgb(17, 12, 49);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 1vh;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  /* width: 250px; */
  font-family: Tahoma, Verdana, sans-serif;

}

.joke-body {
  margin-left: auto;
  margin-right: auto;
}

#pickup-button {
/* background: #c0392b;
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b); 
background: linear-gradient(to right, #8e44ad, #c0392b);  */
background-color: #000;
color: white;
border: none;
font-size: 1.5rem;
padding: 10px;
border: 1px solid rgb(0, 0, 0);
border-radius: 2px;
width: 250px;
font-family: Tahoma, Verdana, sans-serif;
}

#joke-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}
#pickup-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  cursor: pointer;
}

#joke-container {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  text-align: center;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 1px;
  width: 60vh;
  height: 20vh;
  border: 1px solid #fff;
  border-radius: 15px;
  background:#aeadb3;
  background:rgba(61, 64, 85, 0.7);
  font-family: Tahoma, Verdana, sans-serif;
  padding: 2%;
}

#saved-container {
  color: white;
  max-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;  
  overflow: auto;
  padding: 0vh 20vw;
  font-family: Tahoma, Verdana, sans-serif;
}

.inner {
    float: left;
    margin: 5px;
}


.child-saved {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  padding: 50px;
  width: 200px;
  height: 300px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background:#7f7f7f;
  background:rgba(61, 64, 85, 0.7);
}

.child-saved:hover {
  background:rgb(92, 71, 230, 0.7);
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.fa-trash-can {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
  
}
.fa-trash-can:hover {
  color: rgb(227, 22, 22);
  cursor: pointer;
}

.fa-floppy-disk {
  font-size: 2rem;
  color: rgb(23, 218, 215);
}
.fa-floppy-disk:hover {
  color: rgb(0, 179, 255);
  cursor: pointer;
}

.fa-copy {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.666)
}
.fa-copy:hover {
  font-size: 2rem;
  color: rgb(13, 255, 0);
  cursor: pointer;
}

#button-div {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#dvd {
  position: absolute;
  background-repeat: no-repeat;
  width: 20vw;
  height: 17vh;
  color: #fff;
  background: url('../img/astro-doge.png');
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: .5;
}
